{% if isBuilder %}
  <div style="padding: 20px; background: repeating-linear-gradient(145deg, #eff6ff, #eff6ff 10px, #d8e3f9 10px, #d8e3f9 20px); width: 100%; color: black; font-weight: bold;">
    Gravity Form<br>(some forms may not display in builder)
  </div>
{% endif %}
%%SSR%%